body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo gris claro */
}

.container {
    width: 80%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Añadir relleno al contenedor */
    background-color: #fff; /* Color de fondo blanco para el contenedor */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
}

label {
    display: block; /* Mostrar las etiquetas en bloque */
    margin-bottom: 5px; /* Añadir margen inferior a las etiquetas */
    font-weight: bold; /* Texto en negrita para las etiquetas */
}

input,
textarea {
    width: 100%; /* Ancho del 100% para las entradas y áreas de texto */
    padding: 10px; /* Añadir relleno a las entradas y áreas de texto */
    border: 1px solid #ccc; /* Borde gris claro para las entradas y áreas de texto */
    border-radius: 5px; /* Bordes redondeados para las entradas y áreas de texto */
    font-size: 16px; /* Tamaño de fuente de 16 píxeles para las entradas y áreas de texto */
}

input[type="file"] {
    padding: 0; /* Eliminar el relleno predeterminado de los campos de archivo */
    border: none; /* Eliminar el borde predeterminado de los campos de archivo */
    background-color: #fff; /* Color de fondo blanco para los campos de archivo */
}

button {
    background-color: #007bff; /* Color de fondo azul para el botón */
    color: #fff; /* Color de texto blanco para el botón */
    padding: 10px 20px; /* Añadir relleno al botón */
    border: none; /* Eliminar el borde predeterminado del botón */
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambiar el cursor a puntero al pasar el mouse sobre el botón */
    transition: background-color 0.3s ease; /* Agregar una transición suave al color de fondo del botón */
}

button:hover {
    background-color: #b35f00; /* Cambiar el color de fondo del botón al pasar el mouse sobre él */
}
