/* Estilos generales y responsivos */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #fafafa; /* Fondo suave */
    height: 100%;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #fa3e3e, #f1d145); /* Fondo degradado */
}

.login-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background: #ffffff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Sombra */
    overflow: hidden;
}

.login-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1d145; /* Fondo amarillo */
    padding: 20px;
}

.login-left .logo {
    max-width: 80%;
    height: auto;
}

.login-right {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    color: #444; /* Color de texto más oscuro */
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px; /* Espaciado */
}

.restaurant-title {
    font-size: 1.5em;
    margin-bottom: 20px; /* Espaciado */
}

.login-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.login-form legend {
    font-size: 1.5em; /* Tamaño de fuente */
    color: #444; /* Color de texto */
    margin-bottom: 20px; /* Espaciado */
}

.login-form label {
    display: block;
    margin: 10px 0; /* Espaciado */
    color: #666; /* Color de texto */
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px; /* Relleno */
    margin-bottom: 15px; /* Espaciado */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box;
}

#login-btn {
    width: 100%;
    padding: 12px; /* Relleno */
    background-color: #6bb33b; /* Color del botón */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición */
    font-size: 1em; /* Tamaño de fuente */
}

#login-btn:hover {
    background-color: #5aa32a; /* Color al pasar el ratón */
}

a {
    display: block;
    margin: 10px 0; /* Espaciado */
    color: #fa3e3e; /* Color de enlace */
    text-decoration: none; /* Sin subrayado */
    font-size: 0.9em; /* Tamaño de fuente */
}

a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-left, .login-right {
        width: 100%;
    }

    .login-left {
        padding: 20px;
    }

    .login-right {
        padding: 20px;
    }
}
