<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="comidaGerente.css">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif;
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <header>
                <h1>Menu</h1>
                <nav>
                    <button class="back-btn" onclick="window.location.href = 'menuGerente1.html';">Atrás</button>
                </nav>
            </header>

            <section class="contenido">
                <div class="mostrador w3-main w3-content w3-padding" style="max-width:1200px;margin-top:50px">
                    <h3>Platos</h3>
                    <div class="w3-row-padding w3-padding-16 w3-center">
                        <div v-for="comida in comidas" :key="comida.id" class="w3-quarter item" @click="openDialog(comida)">
                            <div class="contenedor-foto">
                                <img :src="getComidaImage(comida.tipocomida_id)" :alt="comida.nombre" style="width:100%">
                            </div>
                            <h3>{{ comida.nombre }}</h3>
                            <p>{{ comida.descripcion }}</p>
                            <span class="precio">Bs.{{ comida.precio }}</span>
                        </div>
                    </div>

                    <h3>Bebidas</h3>
                    <div class="w3-row-padding w3-padding-16 w3-center">
                        <div class="w3-quarter item" v-for="bebida in bebidas" :key="bebida.id" @click="openDialog(bebida)">
                            <div class="contenedor-foto">
                                <img :src="getComidaImage(bebida.tipocomida_id)" :alt="bebida.nombre" style="width:100%">
                            </div>
                            <h3>{{ bebida.nombre }}</h3>
                            <span class="precio">Bs.{{ bebida.precio }}</span>
                        </div>
                    </div>

                    <v-dialog v-model="dialog" max-width="500">
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ operacion === 'editar' ? 'Editar Item' : 'Crear Item' }}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="form">
                                    <v-text-field v-model="comida.id" label="ID" :readonly="operacion === 'editar'"></v-text-field>
                                    <v-text-field v-model="comida.nombre" label="Nombre" required></v-text-field>
                                    <v-select v-model="comida.tipocomida_id" :items="tiposComida" label="Tipo de Comida" required></v-select>
                                    <v-text-field v-model="comida.descripcion" label="Descripción" required></v-text-field>
                                    <v-text-field v-model="comida.precio" label="Precio" type="number" required></v-text-field>
                                    <input type="file" @change="onFileChange">
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDialog">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="saveComida">{{ operacion === 'editar' ? 'Guardar' : 'Crear' }}</v-btn>
                                <v-btn color="red darken-1" text v-if="operacion === 'editar'" @click="confirmDelete(comida.id)">Eliminar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
            </section>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
        integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

    <script>
        let url = 'http://localhost:4000/comidas';
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    comidas: [],
                    bebidas: [],
                    dialog: false,
                    operacion: '',
                    comida: {
                        id: null,
                        nombre: '',
                        descripcion: '',
                        precio: '',
                        tipocomida_id: null
                    },
                    tiposComida: [
                        { text: 'Asado', value: 1 },
                        { text: 'Broaster', value: 2 },
                        { text: 'Chuleta', value: 3 },
                        { text: 'Hamburguesa', value: 4 },
                        { text: 'Milanesa', value: 5 },
                        { text: 'Salchipapa', value: 6 },
                        { text: 'Salchiarroz', value: 7 },
                        { text: 'Silpancho', value: 8 },
                        { text: 'Coca Cola', value: 9 },
                        { text: 'Coca sin Azúcar', value: 10 },
                        { text: 'Fanta', value: 11 },
                        { text: 'Fanta Papaya', value: 12 },
                        { text: 'Jugo de Naranja', value: 13 },
                        { text: 'Sprite', value: 14 }
                    ],
                    file: null
                }
            },
            created() {
                this.mostrar()
            },
            methods: {
                mostrar: function () {
                    axios.get(url)
                        .then(response => {
                            this.comidas = response.data.filter(item => item.tipocomida_id <= 8);
                            this.bebidas = response.data.filter(item => item.tipocomida_id > 8);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                openDialog(item) {
                    this.operacion = 'editar';
                    this.comida = Object.assign({}, item);
                    this.dialog = true;
                },
                openDialogNuevo(tipo) {
                    this.operacion = 'crear';
                    this.comida = {
                        id: null,
                        nombre: '',
                        descripcion: '',
                        precio: '',
                        tipocomida_id: tipo === 'comida' ? 1 : 9,
                    };
                    this.dialog = true;
                },
                closeDialog() {
                    this.dialog = false;
                },
                onFileChange(e) {
                    this.file = e.target.files[0];
                },
                saveComida() {
                    if (this.validarComida()) {
                        if (this.operacion === 'editar') {
                            this.editar();
                        } else {
                            this.crear();
                        }
                        this.closeDialog();
                    }
                },
                crear: function () {
                    let formData = new FormData();
                    formData.append('nombre', this.comida.nombre);
                    formData.append('descripcion', this.comida.descripcion);
                    formData.append('precio', this.comida.precio);
                    formData.append('tipocomida_id', this.comida.tipocomida_id);
                    if (this.file) {
                        formData.append('imagen', this.file);
                    }

                    axios.post(url, formData)
                        .then(response => {
                            this.mostrar();
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                editar: function () {
                    
                    let parametros = {
                        nombre: this.comida.nombre,
                        descripcion: this.comida.descripcion,
                        precio: this.comida.precio,
                        tipocomida_id: this.comida.tipocomida_id
                    };
                    axios.put(url + "/" + this.comida.id, parametros)
                        .then(response => {
                            this.mostrar();
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                borrar: function (id) {
                    Swal.fire({
                        title: '¿Confirma eliminar la comida?',
                        confirmButtonText: 'Confirmar',
                        showCancelButton: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.delete(url + "/" + id)
                                .then(response => {
                                    this.mostrar();
                                });
                            Swal.fire('¡Eliminado!', '', 'success')
                        }
                    });
                },
                confirmDelete(id) {
                    Swal.fire({
                        title: '¿Confirma eliminar el ítem?',
                        confirmButtonText: 'Confirmar',
                        showCancelButton: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            this.borrar(id);
                            this.closeDialog();
                        }
                    });
                },
                validarComida() {
                    if (!this.comida.tipocomida_id) {
                        Swal.fire('Error', 'El tipo de comida no puede ser nulo.', 'error');
                        return false;
                    }
                    return true;
                },
                getComidaImage(tipocomida_id) {
                    if (tipocomida_id == 1) {
                        return '/frontend/MenuGerente/img/platos/asado.avif';
                    } else if (tipocomida_id == 2) {
                        return '/frontend/MenuGerente/img/platos/broaster.jpg';
                    } else if (tipocomida_id == 3) {
                        return '/frontend/MenuGerente/img/platos/chuleta.jpg';
                    } else if (tipocomida_id == 4) {
                        return '/frontend/MenuGerente/img/platos/hamburguesa.webp';
                    } else if (tipocomida_id == 5) {
                        return '/frontend/MenuGerente/img/platos/milanesa.jpg';
                    } else if (tipocomida_id == 6) {
                        return '/frontend/MenuGerente/img/platos/salchi.jpg';
                    } else if (tipocomida_id == 7) {
                        return '/frontend/MenuGerente/img/platos/salchiarroz.jpg';
                    } else if (tipocomida_id == 8) {
                        return '/frontend/MenuGerente/img/platos/silpancho.jpg';
                    } else if (tipocomida_id == 9) {
                        return '/frontend/MenuGerente/img/bebidas/coca-1024x683.png';
                    } else if (tipocomida_id == 10) {
                        return '/frontend/MenuGerente/img/bebidas/coca-sin-azucar-1024x683.png';
                    } else if (tipocomida_id == 11) {
                        return '/frontend/MenuGerente/img/bebidas/fanta-1024x683.png';
                    } else if (tipocomida_id == 12) {
                        return '/frontend/MenuGerente/img/bebidas/fanta-papaya-1024x683.png';
                    } else if (tipocomida_id == 13) {
                        return '/frontend/MenuGerente/img/bebidas/jugo-naranja-1200x800-1.png';
                    } else if (tipocomida_id == 14) {
                        return '/frontend/MenuGerente/img/bebidas/sprite-1024x683.png';
                    } else {
                        return '/frontend/MenuGerente/img/default.jpg';
                    }
                }
            }
        });
    </script>
</body>

</html>
