<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="comidaGerente.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>Menu</h1>
            <nav>
                <button class="back-btn" onclick="window.location.href = 'menuGerente1.html';">Atrás</button>
            </nav>
        </header>

        <section class="contenido">

            <div class="mostrador" id="mostrador">
                <div class="fila">
                    <h3>Platos</h3>
                    <div  class="item" @click="eso(comida.id)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/pollo.jpg" alt="Pollo spiado">
                        </div>
                        <p class="descripcion">Pollo Spiedo</p>
                        <span class="precio">Bs.15 </span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/platos/broaster.jpg" alt="Pollo Broaster">
                        </div>
                        <p class="descripcion" id>Pollo Broaster </p>
                        <span class="precio">Bs. 13</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/platos/chuleta.jpg" alt="Chuleta">
                        </div>
                        <p class="descripcion">Chuleta
                        </p>
                        <span class="precio">Bs.15</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/platos/hamburguesa.webp" alt="Hamburguesa">
                        </div>
                        <p class="descripcion">Hamburguesa </p>
                        <span class="precio">Bs.7</span>
                    </div>
                </div>
                <div class="fila">
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/platos/silpancho.jpg" alt="Silpancho">
                        </div>
                        <p class="descripcion">silpancho</p>
                        <span class="precio">Bs. 10</span>
                    </div>

                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/platos/salchi.jpg" alt="salchipapa">
                        </div>
                        <p class="descripcion">Salchipapa</p>
                        <span class="precio">Bs.10</span>
                    </div>

                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/platos/salchiarroz.jpg" alt="Salchiarroz">
                        </div>
                        <p class="descripcion">SalchiArroz</p>
                        <span class="precio">Bs.10</span>
                    </div>

                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/platos/asado.avif" alt="Salchiarroz">
                        </div>
                        <p class="descripcion">Asadp</p>
                        <span class="precio">Bs.15</span>
                    </div>
                </div>
                <h2>Bebidas</h2>
                <div class="fila">
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/bebidas/coca-sin-azucar-1024x683.png" alt="Coca">
                        </div>
                        <p class="descripcion">Coca-Cola</p>
                        <span class="precio">Bs.5 </span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/bebidas/fanta-1024x683.png" alt="Fanta">
                        </div>
                        <p class="descripcion" id>fanta </p>
                        <span class="precio">Bs. 5</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/bebidas/jugo-naranja-1200x800-1.png" alt="Jugo">
                        </div>
                        <p class="descripcion">Jugo
                        </p>
                        <span class="precio">Bs.5</span>
                    </div>
                    <div class="item" onclick="cargar(this)">
                        <div class="contenedor-foto">
                            <img src="/frontend/MenuGerente/img/bebidas/sprite-1024x683.png" alt="sprite">
                        </div>
                        <p class="descripcion">sprite </p>
                        <span class="precio">Bs.7</span>
                    </div>
                </div>

            </div>

            <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
            <v-dialog v-model="dialog" max-width="500">
                <div id="seleccion">
                    <div class="cerrar" onclick="cerrar()">
                        &#x2715
                    </div>
                    <div class="info">
                        <img src="img/1.png" alt="" id="img">
                        <h2 id="modelo"><v-text-field v-model="comida.nombre" solo required></v-text-field></h2>
                        <p id="descripcion"><v-text-field v-model="comida.descripcion" solo required></v-text-field></p>

                        <span class="precio" id="precio">bs<v-text-field v-model="comida.precio" solo required></v-text-field></span>
                        <div class="fila">
                            <button id="editarm">Editar</button>
                            <span class="separador"></span>
                            <button id="eliminar_m">Eliminar</button>
                        </div>

                        <!-- Eliminar y editar productos -->
                        <!-- Editar producto -->
                        <section class="modal" id="edit-modal" style="display: block;">
                            <div class="modal__container">
                                <button class="close-btn" id="close-modal">&times;</button>
                                <h2>Editar Producto</h2>
                                <div class="form-group">
                                    <label for="imagen">Imagen:</label>
                                    <input type="file" id="imagen">
                                </div>
                                <div class="form-group">
                                    <label for="titulo">Título:</label>
                                    <input type="text" id="titulo" value="Pollo Spiedo">
                                </div>
                                <div class="form-group">
                                    <label for="descripcion">Descripción:</label>
                                    <input type="text" id="descripcion"
                                        value="Porción de papas, arroz junto a un 1/4 de pollo acompañado de salsas">
                                </div>
                                <div class="form-group">
                                    <label for="precio">Precio:</label>
                                    <input type="number" id="precio" value="15">
                                </div>
                                <div class="buttons">
                                    <button class="save-btn">Guardar</button>
                                    <button class="cancel-btn">Cancelar</button>
                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            </v-dialog>
        </section>
    </div>
    <script src="/frontend/MenuGerente/editar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
        integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

    <script>
        let url = 'http://localhost:4000/comidas';
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    comidas: [],
                    dialog: false,
                    operacion: '',
                    comida: {
                        id: null,
                        nombre: '',
                        descripcion: '',
                        precio: '',
                    }
                }
            },
            created() {
                this.mostrar()
            },
            methods: {
                mostrar: function () {
                    axios.get(url)
                        .then(response => {
                            this.userss = response.data;
                        })
                },
                openDialog(user) {
                    this.operacion = 'editar';
                    this.users = Object.assign({}, user);
                    this.dialog = true;
                },
                openDialog2() {
                    this.operacion = 'crear';
                    this.dialog = true;
                },
                closeDialog() {
                    this.dialog = false;

                },
                saveUser() {
                    if (this.operacion === 'editar') {
                        this.editar();
                    } else {
                        this.crear();
                    }
                    this.closeDialog();
                },
                crear: function () {
                    let parametros = {
                        nombre: this.comida.nombre,
                        descripcion: this.comida.descripcion,
                        precio: this.comida.precio,
                    };
                    axios.post(url, parametros)
                        .then(response => {
                            this.mostrar();
                        });
                },
                editar: function () {
                    let parametros = {
                        nombre: this.comida.nombre,
                        descripcion: this.comida.descripcion,
                        precio: this.comida.precio,
                    };
                    axios.put(url + "/" + this.users.id, parametros)
                        .then(response => {
                            this.mostrar();
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                borrar: function (id) {
                    Swal.fire({
                        title: '¿Confirma eliminar la comida?',
                        confirmButtonText: 'Confirmar',
                        showCancelButton: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.delete(url + "/" + id)
                                .then(response => {
                                    this.mostrar();
                                });
                            Swal.fire('¡Eliminado!', '', 'success')
                        }
                    });
                },
                eso: function () {
                    this.dialog = true;
                },
            }
        });
    </script>

</body>

</html>