body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('/frontend/MenuGerente/img/fondo.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
   
}

header {
    width: 100%;
    background-image: url('/frontend/MenuGerente/img/toolbar.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    padding: 20px;
    width: 100%;
}

.Logo img {
    height: 85px;
    border-radius: 20px;
}

header h1 {
    margin: 0;
    color: #ffffff;
}

.header-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-icons button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icons button img {
    width: 78px;
    height: 49px;
    transition: transform 0.3s ease;
}

.card-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: orange;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
