body {
    background-color: red; /* Fondo más claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .banner h1 {
    margin: 0;
  }
  
  .agregar {
    background-color: #4caf50; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .agregar:hover {
    background-color: #43a047; 
  }
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .menu {
    flex-basis: 60%;
  }
  
  .menu .item {
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .menu .item img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .menu .details {
    padding: 20px;
  }
  
  .menu .actions button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
  }
  
  .menu .actions button:hover {
    background-color: #0056b3; 
  }
  
  .editarm {
    flex-basis: 35%;
    background-color: #007bff;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
  }
  
  .lista-editar {
    list-style: none;
    padding: 0;
  }
  
  .lista-editar li {
    margin-bottom: 10px;
  }
  
  .lista-editar label {
    display: block;
    margin-bottom: 5px;
  }
  
  .lista-editar input,
  .lista-editar textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  .guardar-cambios {
    background-color:   #4caf50; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .guardar-cambios:hover {
    background-color:  #4caf50; 
  }
  