* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fa3e3e, #f1d145);
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background: linear-gradient(red, #c84177);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: flex-start;
}

button.atras {
    background-color: transparent;
    color: blawhite;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid rgb(28, 25, 25);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button.atras:hover {
    background-color: blackwhite;
    color: #1f1b1d;
}

.perfil {
    text-align: center;
    margin-top: 20px;
}

.perfil h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.tarjeta {
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
}

.imagen img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.informacion {
    text-align: left;
}

.informacion p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}
