
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: red; 
}

header {
    background-color: red; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: flex-start;
}

.atras {
    background-color: transparent;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.atras:hover {
    background-color: #CCCCCC; 
}

.perfil {
    text-align: center;
    margin-top: 20px;
}

.perfil h1 {
    color: yellow; 
    font-size: 36px;
    margin-bottom: 20px;
}

.tarjeta {
    max-width: 400px;
    background-color: yellow; 
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
}

.imagen img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.informacion {
    text-align: left;
}

.informacion p {
    margin-bottom: 10px;
    font-size: 18px;
}
