<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="menuTrab.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="app.js" async></script>
    <title>Menu Trabajadores </title>
</head>
<body>
    <header>


        <div class="wrapper">
			<div class="logo">Restaurant Liz</div>
			
			<nav>
				
                <div id="openModal" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <div class="order-details">
                            <h2>Ordenes Pendientes</h2>
                            <div class="order-list">
                                <div class="order-item">
                                    <p><strong>Número de Orden:</strong> <span class="order-number">_________</span></p>
                                    <p><strong>Cliente:</strong> <span class="client-name">Nombre del Cliente</span></p>
                                    <p><strong>C.I:</strong> <span class="client-id">#_</span></p>
                                    <p><strong>Fecha:</strong> <span class="order-date">___/___/____</span></p>
                                </div>
                                <div class="order-item">
                                    <p><strong>Número de Orden:</strong> <span class="order-number">_________</span></p>
                                    <p><strong>Cliente:</strong> <span class="client-name">Nombre del Cliente</span></p>
                                    <p><strong>C.I:</strong> <span class="client-id">#_</span></p>
                                    <p><strong>Fecha:</strong> <span class="order-date">___/___/____</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                
<div id="openModal2" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <div class="sales-history">
            <div class="sales-history-title">Historial de Ventas</div>
            <div class="sales-record">
                <h3>Plato(s): Nombre del Plato<br>
                CI Cliente: Cédula de Identidad del Cliente<br>
                Fecha: DD/MM/AAAA<br>
                Total: Total Ganado en Bs</h3>
            </div>
            <div class="sales-record">
                <h3>Plato(s): Nombre del Plato<br>
                CI Cliente: Cédula de Identidad del Cliente<br>
                Fecha: DD/MM/AAAA<br>
                Total: Total Ganado en Bs</h3>
            </div>
        </div>
    </div>
</div>

               
			</nav>
		</div>
    </header>
    <div id="app">

    
    <table class="w3-table-all" style="width: 80%; margin: auto;">
        <thead>
            <tr class="w3-red">
                <th>ID Orden</th>
                <th>Nombre de la Comida</th>
                <th>Total pagado</th>
                <th>ID usuario</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="orden in ordenes" :key="orden.id">
                <span v-if="orden.entrega == 1">
                    <td>{{ orden.id }}</td>
                    <td>{{ orden.fecha }}</td>
                    <td>{{ orden.total }}</td>
                    <td>{{ orden.usuarios_id }}</td>
                    <td><button class="w3-button w3-green" @click="entregar(orden)">Entregar</button></td>
                </span>
                
            </tr>
        </tbody>
    </table>
</div>
        
    </section>

    <footer class="w3-container w3-dark-grey" style="padding:32px; margin-top: 10px;">
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
    integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
    <script>
        let url = 'http://localhost:4000/ordenes';
        let url4 = 'http://localhost:4000/users';
        new Vue({
          el: '#app',
          vuetify: new Vuetify(),
          data() {
            return {
                ordenes: [],
                dialog: false,
                operacion: '',
                orden: {
                    id: null,
                    fecha: '',
                    total: '',
                    usuarios_id: '',
                    entrega: ''
                },
                userss: [],
                users: {
                    id: null,
                    nombre: '',
                    correo: '',
                    contrasena: '',
                    tipo: '',
                    contador: ''
                },
            }
          },
          created() {
            this.mostrar()
            this.inicio()
          },
          methods: {
            mostrar: function () {
                console.log("si");
                axios.get(url)
                    .then(response => {
                    this.ordenes = response.data;
                    console.log(response.data);
                    })
            },
            inicio: function () {
                axios.get(url4)
                .then(response => {
                    var idtoken = localStorage.getItem('miDato');
                    var flagtok = false;
                    response.data.forEach(usuario => {
                    if (idtoken == usuario.id) {
                        flagtok = true;
                        this.users.id= usuario.id;
                        this.users.nombre= usuario.nombre;
                        this.users.correo= usuario.correo;
                        this.users.contrasena= usuario.contrasena;
                        this.users.tipo= usuario.tipo;
                        this.users.contador= usuario.contador;
                    }
                    });

                    if (flagtok) {
                        if (this.users.tipo == 1) {
                            window.location.href = "../menu/menuCliente.html";
                        }
                        if (this.users.tipo == 2) {
                            
                            window.location.href = "../MenuGerente/menuGerente1.html";
                        }
                        }else{
                            window.location.href = "../login/loginUsuarios/login.html";
                        }
                })
                
            },
            openDialog(user) {
              this.operacion = 'editar';
              this.users = Object.assign({}, user);
              this.dialog = true;
            },
            openDialog2() {
              this.operacion = 'crear';
              this.dialog = true;
            },
            entregar(item) {
                this.orden = Object.assign({}, item);
                console.log(this.orden);
                let parametros = {
                    fecha: this.orden.fecha,
                    total: this.orden.total,
                    usuarios_id: this.orden.usuarios_id,
                    entrega: 2
                };
                console.log(parametros);
                axios.put(url + "/" + this.orden.id, parametros)
                    .then(response => {
                    this.mostrar();
                    })
                    .catch(error => {
                    console.log(error);
                    });
            },
            saveUser() {
              if (this.operacion === 'editar') {
                this.editar();
              } else {
                this.crear();
              }
              this.closeDialog();
              this.users.id='';
              this.users.nombre='';
              this.users.correo='';
              this.users.contrasena='';
              this.users.tipo='';
            },
            crear: function () {
              var idtip;
              if (this.users.tipo == 'cliente') {
                idtip = 1;
              }
              if (this.users.tipo == 'admin') {
                idtip = 2;
              }
              if (this.users.tipo == 'trabajador') {
                idtip = 3;
              }
              let parametros = {
                nombre: this.users.nombre,
                correo: this.users.correo,
                contrasena: this.users.contrasena,
                tipo: idtip,
                contador: 0
              };
              axios.post(url, parametros)
                .then(response => {
                  this.mostrar();
                });
            },
            editar: function () {
              var idtip;
              if (this.users.tipo == 'cliente') {
                idtip = 1;
              }
              if (this.users.tipo == 'admin') {
                idtip = 2;
              }
              if (this.users.tipo == 'trabajador') {
                idtip = 3;
              }
              let parametros = {
                nombre: this.users.nombre,
                correo: this.users.correo,
                contrasena: this.users.contrasena,
                tipo: idtip,
                contador: 0
              };
              axios.put(url + "/" + this.users.id, parametros)
                .then(response => {
                  this.mostrar();
                })
                .catch(error => {
                  console.log(error);
                });
            },
            borrar: function (id) {
              Swal.fire({
                title: '¿Confirma eliminar el registro?',
                confirmButtonText: 'Confirmar',
                showCancelButton: true,
              }).then((result) => {
                if (result.isConfirmed) {
                  axios.delete(url + "/" + id)
                    .then(response => {
                      this.mostrar();
                    });
                  Swal.fire('¡Eliminado!', '', 'success')
                }
              });
            },
          }
        });
      </script>
</body>
</html>