@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
}

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

body {
    background-color: #94ff94;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


body{
    background-color: #94ddff;
}
.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: 30px auto; /* Margen respecto a la pantalla */
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajustando el tamaño mínimo y máximo de las columnas */
    grid-gap: 15px; /* Reduciendo el espacio entre columnas */
    grid-row-gap: 30px;
    width: 100%;
}

.contenedor .contenedor-items .item {
    width: 100%; /* Ajustado el ancho */
    height: 100%; /* Ajustada la altura */
    border: 1px solid #ccc; /* Añadido borde para visualización */
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box; /* Para incluir el padding en el tamaño total */
    transition: .3s;
    background-color: white;
}

.contenedor .contenedor-items .item .img-item {
    width: 100%;
    border-radius: 30px;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    transform: scale(1.05);
}

.contenedor .contenedor-items .item .titulo-item {
    font-weight: bold;
    text-align: center;
    color: rgb(25, 129, 209);
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px; /* Añadido margen inferior */
}

.contenedor .contenedor-items .item .precio-item {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    color: rgb(25, 129, 209);
}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(92, 46, 231);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.carrito {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 240px;
    right: 70px;
    opacity: 1;
    z-index: 1000;
}

.carrito .header-carrito {
    background-color: #3555d5;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #110606;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #180202;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-confirmar:hover{
    scale: 1.05;
}

.carrito-total .btn-confirmar {
    display: block;
    width: 100%;
    border: none;
    background: #5120c4;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}

/* change */
.orders-button {
    display: inline-block;
    background-color: #5120c4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: #0cc94b;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
    text-decoration: none;
}
.close:hover { background: #ffcc00; }
/* Estilos específicos para el contenido */
.order-details {
    text-align: center;
}

.order-details h2 {
    font-size: 32px;
    color: #01020f;
    margin-bottom: 20px;
    font-weight: bold; /* Aumenta el grosor del texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 1px; /* Añade un espaciado entre letras */
    font-family: Arial, sans-serif; /* Establece una fuente alternativa */
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}

.order-item p {
    margin-bottom: 8px; /* Reducción del espacio vertical entre párrafos */
    line-height: 1.4; /* Ajuste del espaciado vertical entre palabras */
}

.order-item strong {
    font-weight: bold;
}

.order-item .order-number {
    color: #f56f3a;
}

.order-item .client-id {
    color: #e91e63;
}

.order-item .order-date {
    color: #2196f3;
}

/* Estilos generales */
.sales-history-button {
    display: inline-block;
    background-color: #5120c4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: #60e737;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
    text-decoration: none;
}

/* Estilos específicos para el contenido */
.sales-history {
    text-align: center;
}

.sales-history-title {
    font-size: 32px;
    color: #01020f;
    margin-bottom: 20px;
    font-weight: bold; /* Aumenta el grosor del texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 1px; /* Añade un espaciado entre letras */
    font-family: Arial, sans-serif; /* Establece una fuente alternativa */
}

.sales-record {
    border: 1px solid #130101;
    border-radius: 5px;
    padding: 20px;
    background-color: #459ad3;
    margin-bottom: 20px;
}

.sales-record h3 {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.sales-record h3 strong {
    font-weight: bold;
}

.sales-record h3 span {
    color: #5120c4;
}




