body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #fafafa;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #fa3e3e, #f1d145); 
}

.signup-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
    overflow: hidden;
}

.signup-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1d145; 
    padding: 20px;
}

.signup-left .signup-icon {
    max-width: 80%;
    height: auto;
}

.signup-right {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #444; 
    margin: 0;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    margin-bottom: 5px;
    color: #666; 
}

.signup-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.signup-form input[type="checkbox"] {
    margin-right: 5px;
}

.signup-form small {
    color: #888;
}

.signup-form button {
    padding: 12px;
    background-color: #6bb33b; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
    font-size: 1em; 
}

.signup-form button:hover {
    background-color: #5aa32a; 
}


#message {
    text-align: center;
    margin-top: 20px;
    color: #ff0000; 
}

@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
    }

    .signup-left, .signup-right {
        width: 100%;
    }

    .signup-left {
        padding: 20px;
    }

    .signup-right {
        padding: 20px;
    }
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #35853f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}